
  <div class="row">
      <div class="col-lg-12 text-center" style="margin-top:40px;margin-bottom:200px;">
        <h1 class="mt-5">Bienvenido al sitio</h1>
        <p class="lead">Este sitio fue creado para llevar un control y registro de lo posibles
		        fallos que puedan presentarse en su plataforma en el día a día, con la finalidad de brindar
            un buen servicio técnico en el área de sitemas y atender de forma oportuna cada uno de ellos.</p>
        <img src="img/fondo.png" class="img-fluid" alt="Responsive image">
      </div>
  </div>
